<div id="note-details-content">
  <button mat-raised-button color="primary" (click)="createNewNote()">New note</button>
  <button mat-raised-button color="warn" (click)="deleteNote()">Delete note</button>
  <mat-form-field class="input-full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="getNote().title" />
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="getNote().description" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="1"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
</div>